@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brand: 358 73% 46%;
  --primary: 225 2% 45%;
  --dark: 216 2% 28%;
  --light: 220 2% 52%;
  --success: 133 73% 23%;
  --warning: 41 100% 23%;
  --danger: 340 98% 36%;
}
